<center>
<h1>Editando Tarefa</h1>

<%= render 'form', tarefa: @tarefa, name: 'Editar Tarefa' %>
<br>
<%= link_to 'Ver', @tarefa, class:'btn btn-primary' %>

<%= link_to 'Voltar', tarefas_path, class:'btn btn-danger' %>
</center>